html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: sans-serif;
  max-width: 95rem;
  margin: 0 auto;
}

.heading-primary {
  font-size: 3.8rem;
}

.selected-category {
  font-size: 1.6rem;
}

@media (max-width: 92rem) {
  body {
    max-width: 80rem;
  }
}

@media (max-width: 44rem) {
  body {
    max-width: 36rem;
  }
}
