.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  column-gap: 1.2rem;
  row-gap: 1rem;
}

.categories-list {
  margin-bottom: 2rem;
}

@media (max-width: 44rem) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    column-gap: 4px;
    row-gap: 8px;
  }
}
